body {
    font-family: Didot;
    margin: 0px;
    font-size: 2vw;
    background-color: #f9f5ea;
}

.title-container {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
}
.title {
    display: flex;
    align-items: center;
}
.title .eye {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px; /* Spacing between eyes */
}
.title .pupil {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    transition: transform 0.1s;
}
.title .text {
    display: flex;
    align-items: center;
}

#logo {

    white-space: nowrap;
    margin: 0px;
    padding: 8px;
    font-family: Didot;
    width: 21%;
}

ul {
    margin: 0px;
}

body > header {
    background-color: #b13939;
    color: 	#f9f5ea;
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;
    align-items: center;
}

#nav-ul > li {
    padding: 0.5vw;
    margin: 0.1vw;
    justify-content: space-around;
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: 	#f9f5ea;
    padding: 12px;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #b13939;
    display: flex;
}

img {
    border-radius: 50%;
}

#footer-ul {
    list-style: none;
    align-items: center;
}

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}

#cartlogo {
    width: 5vw;
    height: 5vhpx;
    border-radius: 100%;
}