body {
    font-family: Didot;
    margin: 0px;
    font-size: 2vw;
    background-color: #f9f5ea;
    color: 	#2c2c2c;
} 

.title-container {
    position: relative;
    font-size: 3rem;
    font-weight: bold;
}
.title {
    display: flex;
    align-items: center; 
}
.eye {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px; /* Spacing between eyes */
}
.title .pupil {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    transition: transform 0.1s;
}
.text {
    display: flex;
    align-items: center;
    font-size: 6vw;
}

#logo {

    white-space: nowrap;
    margin: 0px;
    padding: 8px;
    font-family: Didot;
    width: 21%;
}


#main-header {
    background-color: #b13939;
    color: 	#f9f5ea;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
}

#banner {
    height: 3vh;
    background-color: #812b2b;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding-left: 3vw;

}

#nav-ul {
    display: flex;
    align-items: center;
}

#nav-ul > li {
    padding: 0.5vw;
    margin: 0.1vw;
    justify-content: space-around;
}

#nav-ul > li > a:hover {
    text-decoration: underline;
}

#nav-ul > li > a {
    text-decoration: none;
}

#nav-ul {
    list-style: none;
}

.navbutton {
    color: 	#f9f5ea;
    padding: 12px;
}

body > main article {
    width: 70%;
    margin: auto;
}

/* .nobottompad {
    margin-bottom: none;
} */

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}

body > footer {
    background-color: #b13939;
    display: flex;
}

.nobullet {
    list-style: none;
}

.nobullet a {
    text-decoration: none;
    color: 	#2c2c2c;
}

.nobullet a:hover {
    color: 	#aee6ce;
} 

#definition {
    font-family: Didot, Helvetica, sans-serif;
    padding: 1vw;
    text-align: justify;
}



#copy {
    display: flex;
    align-items: center;
    color: #f9f5ea;
    padding-left: 1vw;
}

#footer-ul {
    list-style: none;
    align-items: center;
    text-align: right;
    margin-left: 40vw;
}


#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
}

#footer-ul > div > li > a:hover {
    text-decoration: underline;
}

.bigger {
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

#movingvisual {
    text-align: justify;
}

#cartlogo {
    width: 5vw;
    border-radius: 100%;
}